@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-css {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}


.swiper-button-prev::after {
    background-color: blue;
    padding: 10px;
    border-radius: 100%;
    font-size: 20px !important;
    color: white;
}

.swiper-button-next::after {
    background-color: blue;
    padding: 10px;
    border-radius: 100%;
    font-size: 20px !important;
    color: white;
}